.width-100 {
  width: 100%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
span {
  font-family: Roboto;
  color: white;
  font-weight: 500;
}
.top-content-background-picture {
  background-image: url("../Pictures/Borders.svg"), url("../Pictures/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
@media (max-width: 500px) {
  .top-content-background-picture {
    background-image: url("../Pictures/hero-image.jpg");
    width: 98%;
    background-position-x: -419px;
    margin: 2%;
  }
}
.Header1 {
  height: 300px;
  padding-left: 120px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.Header1 h1 {
  font-family: Oswald;
  font-weight: bold;
  font-size: 72px;
  color: white;
  line-height: 107px;
}
.Header1 p {
  font-family: Roboto;
  font-size: 24px;
  line-height: 30px;
  color: white;
}
@media (max-width: 500px) {
  .Header1 p {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .Header1 {
    padding-left: 8%;
    text-align: center;
  }
}
.Button1 {
  width: 225px;
  height: 49px;
  margin-top: 2%;
  top: 426px;
  font-weight: bold;
  background-color: #FFEC42;
  border: 0px;
}
@media (max-width: 500px) {
  .Button1 {
    margin-left: 27%;
  }
}
.bottom-top-page {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 180px;
  border: 1px;
  margin-top: 150px;
}
.bottom-top-page .bottom-arrow-box {
  width: 52px;
  padding-left: 165px;
  padding-bottom: 50px;
}
@media (max-width: 500px) {
  .bottom-top-page .bottom-arrow-box {
    padding-left: 4%;
  }
}
.bottom-top-page .Micah-box {
  width: 100%;
  margin-left: 275px;
  border: 1px;
  padding: 50px 15px 50px 50px ;
  background-color: white;
}
@media (max-width: 500px) {
  .bottom-top-page .Micah-box {
    display: none;
  }
}
.bottom-top-page h4 {
  padding-bottom: 15px;
  font-family: Roboto;
  font-weight: bold;
}
.bottom-top-page p {
  font-family: Roboto;
  font-weight: 400;
}
.bottom-top-page .Workout-tracking-box {
  background-image: url("../Pictures/Rectangle.jpg");
  width: 100%;
  height: 163px;
  background-size: 100% 100%;
  color: white;
  padding-right: 20px;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .bottom-top-page .Workout-tracking-box {
    display: none;
  }
}
.bottom-top-page .Workout-tracking-box h4 {
  display: flex;
  align-items: flex-end;
}
.bottom-top-page .Workout-tracking-box p {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.bottom-top-page .Workout-tracking-box a {
  margin-left: 60%;
  text-decoration-line: none;
  color: white;
}
.bottom-top-page .Meet-our-team-box {
  width: 100%;
  height: 163px;
  padding-left: 0 1px 0 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-top-page .Meet-our-team-box a {
  text-decoration-line: none;
  font-family: Roboto;
  font-weight: bold;
  color: #1c1c1c;
}
@media (max-width: 500px) {
  .bottom-top-page .Meet-our-team-box {
    display: none;
  }
}
.top-middle-content {
  background-color: #202020;
}
@media (max-width: 500px) {
  .top-middle-content {
    width: 100%;
  }
}
.AboutHeader {
  width: 100%;
  text-align: center;
}
.AboutHeader h1 {
  font-family: Oswald;
  font-weight: bold;
  font-size: 30px;
  color: #FFFFFF;
}
.AboutHeader p {
  font-family: Roboto;
  font-size: 20px;
  color: #FFFFFF;
}
.TopNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  padding: 35px 50px;
}
@media (max-width: 500px) {
  .TopNav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
.TopNav .dropdown-button {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .TopNav .Navbar1 {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    text-align: center;
  }
}
.TopNav a {
  font-size: 18px;
  width: 400px;
  color: white;
  text-decoration-line: none;
  padding-right: 80px;
  font-family: Oswald;
}
@media (max-width: 500px) {
  .TopNav a {
    margin-top: 15px;
    padding: 0;
  }
}
.TopNav a:hover {
  color: #FFEC42;
}
.Navlogo {
  display: none;
}
@media (max-width: 500px) {
  .Navlogo {
    display: inline;
  }
}
@media (max-width: 500px) {
  .dropdown-hidden {
    display: none;
  }
}
.middle-quote {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middle-quote h2 {
  font-family: Oswald;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
}
.middle-quote p {
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
}
.middle-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .middle-content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .middle-content img {
    margin: 5%;
  }
}
.cards-container {
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 16px 15%;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .cards-container {
    height: 100%;
  }
}
.cards-container .card {
  margin-top: 16px;
}
.cards-container .card .author {
  text-align: center;
}
.tabs {
  height: 200px;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .tabs {
    margin-top: 50px;
  }
}
.tabs .Team-members {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .tabs .Team-members {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.tabs .Team-members .tab {
  padding: 13.5px 78.5px;
  background-color: #3D3D3D;
  font-family: Oswald;
  font-weight: bold;
  font-size: 16px;
  color: white;
}
@media (max-width: 500px) {
  .tabs .Team-members .tab {
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid black;
  }
}
.bottom-content {
  width: 100%;
  margin: 6% 0;
  height: 450px;
  display: flex;
  align-items: center;
  background-image: url("../Pictures/Rectangle-Image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 500px) {
  .bottom-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.bottom-content .middle-bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .bottom-content .Iphone2 {
    width: 80%;
    margin-left: 15%;
  }
}
@media (max-width: 500px) {
  .bottom-content .Iphone1 {
    width: 80%;
    margin-right: 15%;
  }
}
.bottom-content h3 {
  width: 100%;
  font-family: Oswald;
  font-weight: bold;
  font-size: 35px;
  line-height: 52px;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 500px) {
  .bottom-content h3 {
    font-size: 24px;
  }
}
.bottom-content button {
  width: 225px;
  height: 49px;
  background-color: #FFEC42;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  border: 0px;
}
@media (max-width: 500px) {
  .bottom-content button {
    margin-top: 5%;
    margin-left: 5%;
  }
}
@media (max-width: 500px) {
  .bottom-content {
    height: auto;
    display: flex;
    flex-direction: column;
    background-position-x: -2400px;
  }
}
footer {
  width: 100%;
  height: 178px;
  background-color: #3D3D3D;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
footer .bottom-nav {
  width: 40%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  footer .bottom-nav {
    display: flex;
    flex-direction: column;
  }
}
footer .bottom-nav a {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  text-decoration-line: none;
  color: white;
}
@media (max-width: 500px) {
  footer .bottom-nav a {
    height: 25px;
    line-height: 16px;
  }
}
footer p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white;
}
