
.top-content-background-picture {
    background-image: url("/Pictures/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1440px;
    height: 800px;
}

.top-content2 {
    background-image: url("/Pictures/Borders.svg");
    width: 1440px;
    height: 800px;
}

.Header1 {
    height: 300px;
    padding-left: 120px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   h1 {
       font-family: Oswald;
       font-weight: bold;
       font-size: 72px;
       color: white;
       line-height: 107px;
   }
   p {
       font-family: Roboto;
       font-size: 24px;
       line-height: 30px; 
       color: white;
   }
}

.Button1 {
    width: 225px;
    height: 49px;
    left: 47px;
    top: 426px;
    font-weight: bold;
    background-color: #FFEC42;
    border: 0px;
}

.bottom-top-page {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 180px;
    border: 1px;
    margin-top: 150px;
    .bottom-arrow-box {
        width: 52px;
        padding-left: 165px;
        padding-bottom: 50px;
    }
    .Micah-box {
        width: 450px;
        margin-left: 275px;
        border: 1px;
        padding: 50px 15px 50px 50px ;
        background-color: white;
    }
    h4 {
        padding-bottom: 15px;
        font-family: Roboto;
        font-weight: bold;
    }
    p {
        font-family: Roboto;
        font-weight: 400;
    }
    .Workout-tracking-box {
        background-image: url("/Pictures/Rectangle.jpg");
        width: 444px;
        height: 163px;
        background-size: 100% 100%;
        color: white;
        padding-right: 20px;
        padding-left: 30px;
        display: flex;
       flex-wrap: wrap;
       h4 {
           display: flex;
           align-items: flex-end;
       }
       p {
           display: flex;
           align-items: center;
           font-size: 14px;
       }
       a {
           margin-left: 275px;
           text-decoration-line: none;
           color: white;
       }
    }
    .Meet-our-team-box {
        height: 163px;
        padding-left: 0 1px 0 40px;
        background-color: white;
        display: flex;
        align-items: center;
        a {
            text-decoration-line: none;
            font-family: Roboto;
            font-weight: bold;
            color: #1c1c1c;
        }
    }
}

