
.TopNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    padding: 35px 50px;
    a {
        font-size: 18px;
        width: 400px;
        color: white;
        text-decoration-line: none;
        font-family: Roboto;
        padding-right: 80px;
    }
    .AtagYellow {
        color: #ffec42;
    }
}

